[submodule "packages/iy-go-to-char"]
	path = packages/iy-go-to-char
	url = https://github.com/doitian/iy-go-to-char.git
[submodule "packages/tiny-tools"]
	path = packages/tiny-tools
	url = https://github.com/jaalto/project--emacs-tiny-tools.git
[submodule "packages/web-mode"]
	path = packages/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "packages/expand-region.el"]
	path = packages/expand-region.el
	url = https://github.com/magnars/expand-region.el.git
