[submodule "packages/iy-go-to-char"]
	path = packages/iy-go-to-char
	url = https://github.com/doitian/iy-go-to-char.git
[submodule "packages/tiny-tools"]
	path = packages/tiny-tools
	url = https://github.com/jaalto/project--emacs-tiny-tools.git
[submodule "packages/web-mode"]
	path = packages/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "packages/expand-region.el"]
	path = packages/expand-region.el
	url = https://github.com/magnars/expand-region.el.git
[submodule "packages/ace-jump-mode"]
	path = packages/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "packages/multiple-cursors.el"]
	path = packages/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "packages/elpy"]
	path = packages/elpy
	url = https://github.com/jorgenschaefer/elpy
[submodule "packages/s.el"]
	path = packages/s.el
	url = https://github.com/magnars/s.el
[submodule "packages/pyenv"]
	path = packages/pyenv
	url = https://github.com/jorgenschaefer/pyvenv
[submodule "packages/find-file-in-project"]
	path = packages/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project
[submodule "packages/company-mode"]
	path = packages/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "packages/highlight-indentation"]
	path = packages/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "packages/emacs-epc"]
	path = packages/emacs-epc
	url = https://github.com/kiwanami/emacs-epc
[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "packages/emacs-jedi"]
	path = packages/emacs-jedi
	url = https://github.com/tkf/emacs-jedi
[submodule "packages/browse-kill-ring"]
	path = packages/browse-kill-ring
	url = https://github.com/T-J-Teru/browse-kill-ring.git
[submodule "packages/dash.el"]
	path = packages/dash.el
	url = https://github.com/magnars/dash.el
[submodule "packages/magit-popup"]
	path = packages/magit-popup
	url = https://github.com/magit/magit-popup
[submodule "packages/ghub"]
	path = packages/ghub
	url = https://github.com/magit/ghub
[submodule "packages/with-editor"]
	path = packages/with-editor
	url = https://github.com/magit/with-editor
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/graphviz-dot-mode"]
	path = packages/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode
[submodule "helm"]
	path = packages/helm
	url = https://github.com/emacs-helm/helm
[submodule "packages/popup-el"]
	path = packages/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "packages/emacs-async"]
	path = packages/emacs-async
	url = https://github.com/jwiegley/emacs-async
[submodule "packages/projectile"]
	path = packages/projectile
	url = https://github.com/bbatsov/projectile
[submodule "packages/helm-projectile"]
	path = packages/helm-projectile
	url = https://github.com/bbatsov/helm-projectile
[submodule "packages/wgrep"]
	path = packages/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "packages/julia-emacs"]
	path = packages/julia-emacs
	url = https://github.com/JuliaEditorSupport/julia-emacs.git
[submodule "packages/julia-repl"]
	path = packages/julia-repl
	url = https://github.com/tpapp/julia-repl.git
[submodule "packages/typescript"]
	path = packages/typescript
	url = https://github.com/ananthakumaran/typescript.el.git
[submodule "packages/tide"]
	path = packages/tide
	url = https://github.com/ananthakumaran/tide.git
[submodule "packages/flycheck"]
	path = packages/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "packages/js2"]
	path = packages/js2
	url = https://github.com/mooz/js2-mode.git
[submodule "packages/rjsx-mode"]
	path = packages/rjsx-mode
	url = https://github.com/felipeochoa/rjsx-mode.git
[submodule "packages/yasnippet-snippets"]
	path = packages/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
[submodule "packages/react-snippets"]
	path = packages/react-snippets
	url = https://github.com/johnmastro/react-snippets.el.git
