appdirs
appnope
attrs
autopep8
backcall
black
click
decorator
Django
flake8
ipykernel
ipython
ipython-genutils
jedi
jupyter-client
jupyter-console
jupyter-core
mccabe
parso
pexpect
pickleshare
Pillow
pip
prompt-toolkit
ptyprocess
pycodestyle
pyflakes
Pygments
python-dateutil
pytz
pyzmq
rope
setuptools
simplegeneric
six
toml
tornado
traitlets
wcwidth
yapf
